body{
    justify-content: center;
    display: flex;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    height: 620px;
    border: solid 1px black;

}
.square{
    height: 60px;
    width: 60px;
    border: solid 1px black;
}
.red{
    background-color: darkred;
}
.grey{
    background-color: grey;
}